// Table of Content
// ===============================================
// # Variables
// # Mixins */

// # Variables
// =============================================== */
// No local variables available

// # Mixins
// =============================================== */

@mixin base-alignment {
	.align-none,
	.alignnone {
		display: inline;
	}

	.align-center,
	.aligncenter {
		text-align: center;
		@include margin(0 auto);
	}

	.align-left,
	.alignleft {
		float: left;
		@include margin(0 rem(20px) rem(20px) 0);
	}

	.align-right,
	.alignright {
		float: right;
		@include margin(0 0 rem(20px) rem(20px));
	}

	.wp-caption,
	figure {
		@include margin(0 0 rem(20px));

		.wp-caption-text,
		figcaption {
			font-style: italic;
			@include margin(rem(5px));
		}
	}
}
