// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

%post {
	h4 {
		font-weight: $heading-font-weight;
		@include font-size($font-size-h4);
		@include margin(null null rem(0));

		a {
			color: $text-color-white;
		}
	}

	img {
		width: 100%;
	}

	p {
		line-height: 1.3;
		font-weight: 400;
		@include font-size(16px);
	}

	.is-wrap {
		text-align: left;
		@include padding(rem(23px) rem(16px));
	}
}