// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.reviews {
	text-align: center;
	@extend %content;
	@include padding(rem(54px) null rem(35px));
	@include max-screen($breakpoint-small){
		@include padding(rem(30px) null rem(20px));
	}

	h3 {
		text-transform: uppercase;
		color: $text-color-primary;
		@include margin(null null rem(30px));
		@include max-screen($breakpoint-small){
			line-height: 1.6;
		}
	}

	&__slide {
		max-width: $width-base - 130;
		@include margin(null auto);
	}
}
