// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.schedule {
	@extend %content;
	@include padding(rem(115px) null rem(85px));
	@include max-screen($breakpoint-tablet){
		@include padding(rem(70px) null);
	}
	@include max-screen($breakpoint-phone){
		@include padding(rem(30px) null);
	}

	h2 {
		text-transform: uppercase;
		@include margin(null null rem(42px));
		@include max-screen($breakpoint-tablet){
			@include margin(null null rem(25px));
		}
	}

	h5 {
		color: $text-color-orange;
		@include margin(null null rem(3px));
	}

	ul {
		list-style: none;
		@include margin(null 0 rem(25px));

		li {
			list-style: none;

			span {
				min-width: 30px;
				display: inline-block;
			}
		}
	}

	em {
		font-style: italic;
		@include max-screen($breakpoint-tablet){
			display: block;
			@include margin(null null rem(40px));
		}
	}

	&__holidays {
		li {
			@include position(relative, null);
			@include padding(null null null rem(26px));

			&:before {
				content: '';
				display: block;
				width: rem(14px);
				height: rem(15px);
				@include position(absolute, rem(5px) null null 0);
				@include background-image(list, png, center, no-repeat, 100%);
			}
		}
	}

	&__hours {
		@include max-screen($breakpoint-small){
			text-align: center;
		}

		li {
			> div {
				@include max-screen($breakpoint-small){
					@include margin(null null rem(15px));
				}
			}

			h5 {
				@include max-screen($breakpoint-small){
					font-weight: 400;
				}
			}
		}
	}
}
