// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
$button-padding: rem(14px) rem(22px) !default;

$button-height: rem(46px) !default;

$button-font-family: $font-family-base !default;
$button-font-size: 18px !default;
$button-font-weight: 400 !default;

$button-color: #fff !default;
$button-color-hover: #fff !default;
$button-color-disabled: #999 !default;

$button-border-size: 0 !default;
$button-border-style: solid !default;
$button-border-color: #2e6da4 !default;
$button-border-color-hover: #286090 !default;
$button-border-color-disabled: #666 !default;
$button-border-radius: rem(10px) !default;

$button-bg: #f07f16 !default;
$button-bg-hover: #4d2f48 !default;
$button-bg-disabled: #efefef !default;

// # Elements
// =============================================== */

.btn,
.button {
	outline: 0!important;
	box-shadow: none!important;
	line-height: 1;
	height: $button-height;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	font-family: $button-font-family;
	font-weight: $button-font-weight;
	touch-action: manipulation;
	white-space: nowrap;
	border: $button-border-size $button-border-style $button-border-color;
	border-radius: $button-border-radius;
	user-select: none;
	transition: color $base-duration $base-timing, border-color $base-duration $base-timing, background-color $base-duration $base-timing;
	@include margin(null null 0);
	@include padding($button-padding);
	@include font-size($button-font-size);
}
.btn-default,
.button {
	color: $button-color;
	background: $button-bg;

	&:hover,
	&[type='submit']:hover,
	&[type='reset']:hover,
	&[type='button']:hover,
	&:focus,
	&.is-focused {
		color: $button-color-hover;
		text-decoration: none;
		border-color: $button-border-color-hover;
		background-color: $button-bg-hover;
	}
}

.button--primary,
.btn-primary {
	background: $color-primary;

	&:hover,
	&[type='submit']:hover,
	&[type='reset']:hover,
	&[type='button']:hover,
	&:focus,
	&.is-focused {
		color: $button-color-hover;
		text-decoration: none;
		border-color: $button-border-color-hover;
		background-color: $color-orange;
	}
}

.button--success,
.btn-success {
	background: $color-success;

	&:hover,
	&[type='submit']:hover,
	&[type='reset']:hover,
	&[type='button']:hover,
	&:focus,
	&.is-focused {
		color: $button-color-hover;
		text-decoration: none;
		border-color: $button-border-color-hover;
		background-color: darken($color-success, 10%);
	}
}

.button--white,
.btn-white {
	text-transform: uppercase;
	color: $text-color-white;
	background: transparent;
	border: 1px solid #f4a154;

	&:hover,
	&[type='submit']:hover,
	&[type='reset']:hover,
	&[type='button']:hover,
	&:focus,
	&.is-focused {
		text-decoration: none;
		color: $text-color-orange;
		background-color: $color-white;
	}
}

.button--default-o,
.btn-default-o {
	background: transparent;
	color: $text-color-orange;
	border: 1px solid $color-orange;

	&:hover,
	&[type='submit']:hover,
	&[type='reset']:hover,
	&[type='button']:hover,
	&:focus,
	&.is-focused {
		color: $text-color-white;
		background-color: $color-orange;
	}
}

